<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}
<html lang="en">
<head>
    <title>Login Page</title>

    <link rel="stylesheet" type="text/css" href="static/css/login.css">
</head>
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
       <div class="container">
            <div class="header">
                 <header>Welcome to Login Page</header>
                <h1>Login/Sign Up</h1>
            </div>
            <form name="login" action="/login" method="post">

                <ul>
                    <li>Username: <input class="username" type="text" name="username"></li>
                    <li>Password: <input class="password" type="password" name="password"></li>
                </ul>
                <button type="submit" class="submit" value="Log In" name="submit">Log In</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}